In [1]:
print("hello World")

hello World

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("./term_article_matrix.csv")
df.head()

,Term,A0,A1,A2,A3,A4,A5,A6,A7,A8,...,A4990,A4991,A4992,A4993,A4994,A4995,A4996,A4997,A4998,A4999
0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.columns

Index(['Term', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       ...
       'A4990', 'A4991', 'A4992', 'A4993', 'A4994', 'A4995', 'A4996', 'A4997',
       'A4998', 'A4999'],
      dtype='object', length=5000)

In [6]:
df.columns

Index(['Term', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       ...
       'A4990', 'A4991', 'A4992', 'A4993', 'A4994', 'A4995', 'A4996', 'A4997',
       'A4998', 'A4999'],
      dtype='object', length=5000)

In [7]:
df.head()

,Term,A0,A1,A2,A3,A4,A5,A6,A7,A8,...,A4990,A4991,A4992,A4993,A4994,A4995,A4996,A4997,A4998,A4999
0,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0